Repository MechanicalHuman/dev-bunyan-pretty: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, sort-package-json

.lintstagedrc:

{
    "*.js": ["prettier --write", "eslint --fix", "git add"],
    "*.{json,md,css}": ["prettier --write", "git add"],
    "package.json": ["sort-package-json", "git add"]
}

v.2.0.8
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Quick commit
  .eslintrc.js
  .lintstagedrc
  .prettierignore
  .vscode/settings.json
  AUTHORS
  LICENSE
  README.md
  bunyan-pretty.sublime-project
  package-lock.json
  package.json
  src/cli.ts
  src/index.ts
  tsconfig.json
  tslint.json
Due: prettier --write, eslint --fix, sort-package-json

Quick commit
  .eslintrc.js
  .eslintrc.json
  .lintstagedrc
  .prettierignore
  AUTHORS
  LICENSE
  README.md
  bin/pretty.js
  bunyan-pretty.sublime-project
  jsconfig.json
  lib/index.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, sort-package-json

Quick commit
  .eslintrc.json
  .vscode/settings.json
  TODO.md
  bin/pretty.js
  config/default.js
  jsconfig.json
  lib/constants.js
  lib/custom.d.ts
  lib/formatters/error-formatter.js
  lib/formatters/head-formatter.js
  lib/formatters/http-formatter.js
  lib/formatters/keys-formatter.js
  lib/index.js
  lib/utils/Stack.js
  lib/utils/chalk.js
  lib/utils/index.js
  package-lock.json
  package.json
  src/cli.ts
  src/index.ts
  tsconfig.json
  tslint.json
Due: prettier --write, eslint --fix, sort-package-json

feat: Aligned to Pino api
  .vscode/settings.json
  TODO.md
  bin/pretty.js
  config/custom-c-variables.json
  jsconfig.json
  lib/config.js
  lib/constants.js
  lib/custom.d.ts
  lib/formatters/error-formatter.js
  lib/formatters/head-formatter.js
  lib/formatters/http-formatter.js
  lib/formatters/index.js
  lib/formatters/keys-formatter.js
  lib/index.d.ts
  lib/index.js
  lib/utils/chalk.js
  lib/utils/index.js
  package.json
Due: prettier --write, eslint --fix, sort-package-json

fix: httpFormatter invocation
  lib/formatters/head-formatter.js
Due: prettier --write, eslint --fix

chore: Depencency cleanup
  bin/pretty.js
  config/custom-c-variables.json
  config/default.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, sort-package-json

chore(release): 2.0.8
  AUTHORS
  CHANGELOG.md
  LICENSE
  README.md
  package.json
Due: prettier --write, sort-package-json

chore(release): 2.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: package-lock.json
  package-lock.json
Due: prettier --write

chore(release): 2.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

fix: corrected bin/pretty path
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(release): 2.1.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

fix: Minor Documentation fixes
  .editorconfig
  CHANGELOG.md
  README.md
  TODO.md
Due: prettier --write

style: Passing lint rules.
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

fix: returning Writable Stream
  bin/pretty.js
  lib/constants.js
  lib/formatters/head-formatter.js
  lib/formatters/http-formatter.js
  lib/formatters/keys-formatter.js
  lib/index.d.ts
  lib/index.js
  lib/utils/index.js
Due: prettier --write, eslint --fix

Added tests
  TODO.md
  test/bunyan-compatibility.test.js
Due: prettier --write, eslint --fix

chore(release): 2.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

test: http tests
  test/http.test.js
Due: prettier --write, eslint --fix

feat: exporting default config
  lib/index.d.ts
  lib/index.js
Due: prettier --write, eslint --fix

fix: Http formater reports propper response times
  lib/formatters/http-formatter.js
Due: prettier --write, eslint --fix

chore(release): 2.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Update head-formatter.js
  lib/formatters/head-formatter.js
Due: prettier --write, eslint --fix

feat: Updated package dependencies
  .editorconfig
  .eslintrc.js
  .eslintrc.json
  .huskyrc.json
  .lintstagedrc
  .lintstagedrc.json
  .prettierignore
  .prettierrc
  .vscode/settings.json
  README.md
  bin/pretty.js
  bunyan-pretty.sublime-project
  config/custom-environment-variables.json
  config/default.js
  jsconfig.json
  lib/constants.js
  lib/formatters/error-formatter.js
  lib/formatters/head-formatter.js
  lib/index.js
  lib/utils/Stack.js
  lib/utils/chalk.js
  lib/utils/index.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, sort-package-json

fix: Fixes colors on a millon color terminal
  lib/formatters/head-formatter.js
Due: prettier --write, eslint --fix

feat: Set the package in maintenance mode
  TODO.md
Due: prettier --write

chore(release): 3.0.0
  CHANGELOG.md
  TODO.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Updated dependencies
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(deps): Updated dependencies
  .depcheckrc
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

refactor: Removed node-config
  bin/pretty.js
  config/custom-environment-variables.json
  config/default.js
  lib/constants.js
  lib/formatters/head-formatter.js
  lib/formatters/keys-formatter.js
  lib/index.js
  lib/utils/chalk.js
  lib/utils/config.js
  lib/utils/index.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, sort-package-json

chore(release): 3.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Quick commit
  CHANGELOG.md
Due: prettier --write

fix: config params
  lib/utils/config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, sort-package-json

fix: vunerable packages
  package-lock.json
Due: prettier --write

Add npm ignore
  .npmignore
Due: none

chore(release): 3.0.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

fix: extend config
  lib/utils/config.js
Due: prettier --write, eslint --fix
