Repository MechanicalHuman/dev-bunyan-pretty: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, sort-package-json

v.1.1.5
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

minor bug fixes [Phobos2018]
  bin/pretty.js
  bunyan-pretty.sublime-project
  lib/config.js
  lib/constants.js
  lib/formatters/head-formatter.js
  lib/formatters/http-formatter.js
  lib/formatters/src-formatter.js
  lib/index.js
  lib/utils/Stack.js
Due: prettier --write, eslint --fix

v.1.1.6
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Create LICENSE
  LICENSE
Due: none

deprectate conf [Phobos2018]
  .editorconfig
  .prettierrc
  .vscode/settings.json
  .vscode/tasks.json
  README.md
  TODO.md
  bunyan-pretty.sublime-project
  lib/config.js
  lib/formatters/head-formatter.js
  lib/utils/index.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, sort-package-json

rolling back eslint-config-standard to v.11 [Phobos2018]
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

v.1.1.7
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Quick commit [Phobos2018]
  README.md
  img/pretty-nostamps.png
  img/pretty-stamps.png
  lib/constants.js
  lib/index.js
Due: prettier --write, eslint --fix

Readme [Phobos2018]
  README.md
Due: prettier --write

v.1.2.0
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

FIX: propagating the provided write stream [Phobos2018]
  lib/index.js
  package-lock.json
Due: prettier --write, eslint --fix

v.2.0.0
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Quick commit [Phobos2018]
  lib/config.js
  lib/formatters/head-formatter.js
  lib/index.js
Due: prettier --write, eslint --fix

Using node-config [Phobos2018]
  README.md
  bin/pretty.js
  config/custom-environment-variables.json
  config/default.js
  lib/config.js
  lib/constants.js
  lib/formatters/head-formatter.js
  lib/formatters/keys-formatter.js
  lib/index.js
  lib/utils/chalk.js
  lib/utils/index.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, sort-package-json

Quick commit [Phobos2018]
  config/custom-environment-variables.json
Due: prettier --write

Removed record.src special case. [Phobos2018]
  bin/pretty.js
  lib/constants.js
  lib/formatters/index.js
  lib/formatters/keys-formatter.js
  lib/formatters/src-formatter.js
  lib/index.js
  lib/utils/index.js
Due: prettier --write, eslint --fix

v.2.0.1
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Aligning FORCE_COLOR resolution with other common tools
  config/default.js
Due: prettier --write, eslint --fix

PRETTY_TERM_COLORS env variable to tell pretty to prefeer the terminal colors over the stream colors
  config/custom-environment-variables.json
Due: prettier --write

Exposing Constants.configDir
  lib/constants.js
Due: prettier --write, eslint --fix

New logic to detect the color level based on not only the stream but the context and the terminal
  lib/utils/index.js
Due: prettier --write, eslint --fix

FIX: Infinite loop due Config.util.makeImmutable if the cofig was not resolved in order
  lib/index.js
Due: prettier --write, eslint --fix

updated eslint-plugin-node version [Phobos2018]
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

v.2.0.2
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Using exports.isValidRecord on exports.parseRecord
  lib/utils/index.js
Due: prettier --write, eslint --fix

Cleanig cli.argv before passing to the lib.
  bin/pretty.js
Due: prettier --write, eslint --fix

Add: Constants.CONFIG_FILEDS to cleanup configurations.
  lib/constants.js
Due: prettier --write, eslint --fix

Using: Utils.stringLength instead of importing the package twice
  lib/formatters/head-formatter.js
Due: prettier --write, eslint --fix

FIX: removing splitStream as it can get randomly corked
  lib/index.js
Due: prettier --write, eslint --fix

Rolling back eslint to 4.19.1 [Phobos2018]
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

v.2.0.3
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

FIX: propper pipe detection [Phobos2018]
  bin/pretty.js
  lib/constants.js
Due: prettier --write, eslint --fix

v.2.0.4
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Updated config dependency to 1.31.0 [Phobos2018]
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

v.2.0.5
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Exposing the print host functionality both on the CLI and the ENV_VARIABLES [Phobos2018]
  README.md
  bin/pretty.js
  config/custom-environment-variables.json
Due: prettier --write, eslint --fix

v.2.0.6
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: Depencencies upgrade
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

v.2.0.7
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: dependencies update
  .eslintrc.js
  AUTHORS
  README.md
  bin/pretty.js
  lib/index.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, sort-package-json

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.{json,md,css})
  eslint --fix: any of: *.js
  sort-package-json: any of: package.json
